/* font-family: 'Arima Madurai', cursive; */
/* font-family: 'Creepster', cursive; */
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Arima Madurai', cursive;
    scroll-behavior: smooth;
}
.bg::before{
    content: "";
    background-image: url(./images/salad-g7d68bab29_1920.jpg);
    filter: blur(3px);
    background-size: cover;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 65%;
    z-index: -1;
}
.formelement label:after {
    content:" *";
    color: red;
  }
.name{
    font-family: 'Creepster', cursive;
    font-weight: 300;
    font-size: 1.6rem;
    color: white;
}
.name:hover{
    cursor: pointer;
}
img{
    height: 60px;
    width: 60px;
    margin: 0.4em;   
}
.btn{
    padding:  0.5em 1.5em;
    border-radius: 20px;
    margin: 0 0 0 1em;
    font-weight: bold;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(252, 234, 215);
    /* font-weight: 600; */
    transition: all 0.3s;
    /* animation: underline 0.4s; */
}
.container{
    padding: 0 5em;
}
.head{
    height: 0;
    width: 100%;
}
.couponcode{
    color: #b2975c;
}
/*=================================================================================section 1 */
.section1{
    background-color: rgba(0, 0, 0, 0.89);
    position: sticky;
    top: 0%;
    z-index: 100;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav1{
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: space-between;
}

/*=====================================================================================section 2 */
.section2{
    z-index: -1;
}
.buffet{
    height: 30%;
    width: 40%;
    border-radius: 30px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.6);
}
.section2_div1{
    display: flex;
    flex-wrap: wrap;
    padding: 2em 0;
    /* border: 2px solid red; */
    /* justify-content: center; */
    /* flex-direction: column; */
}
.section2_text{
    width: 40%;
    /* border: 2px solid red; */
    padding: 2em;
    text-align: center;
    font-weight: 900;
}
.section2_text h1{
    font-size: 2.3rem;
    text-shadow: 2px 2px 3px #b2975c;
}
.para{
    font-size: 1.2rem;
    margin-top: 1.5em;
    font-weight: 800;
    padding: 1em;
    color: white;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.67);
}

/* ===============================================================================section3 */
.section3{
    padding: 1em ;
}
.section3_img{
    height: 33%;
    width: 30%;

}
.section3_div{
    display: flex;
    flex-direction: row;
    scroll-behavior: smooth;
    overflow-x: scroll;
    /* border-radius: 20px;
    border: 2px solid red; */
}
.section3_div img{
    border-radius: 20px;
    margin: 2em;
    height: 25%;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.553);
    width: 25%;
}

/* ==================================================section4 */
.section4_div1{
text-align: center;
margin: 2em 0;
color: goldenrod;
background-color: rgba(0, 0, 0, 0.67);
border-radius: 20px;

}
.section4_div1 h1, .section4_div2_div h1, .section5_div_div h1, .section6_div_div h4{
       background: linear-gradient(to bottom, #cfc09f 22%,#d6b671 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#c29e51 78%); 
       -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #fff;
}
.section4_div2, .section5_div{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    height: 250px;
    width: 50%;
    justify-content: space-around;
    border-radius: 30px;
    margin-top: 3em;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.67);
}
#offerimg{
    height: 80%;
    width: 50%;
}
.section4_div2_div{
    padding: 1em;
}
.para2{
    font-size: 1.2rem;
    font-weight: 800;
    padding: 0.7em 0;
    color: white;
    border-radius: 20px;
}

/* ===================================================section5 */
.section5_div{
    flex-direction: row-reverse;
}
.section5outer{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
#chefimg{
    height: 70%;
    width: 40%;
}

/* ======================================================section6 */

.section6_div{
display: flex;
min-height: 400px;
justify-content: space-between;
padding-bottom: 2em;
align-items: flex-end;
}

#section6_div1{
width: 50%;
margin: 3em auto 1.5em auto;
text-align: center;
}
.section6_outerdiv{
    width: 100%;
    align-items: center;
    justify-content: center;
}
.section6_div_div{
    align-items: center;
    min-height: 272px;
    width: 20%;
    border-radius: 1000px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.692);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.493);
}
.section6_div_div h4{
    color: white;
    font-size: 1.1rem;
}
#section6div1, #section6div3{
    align-self: flex-start;
}
.reviewhead{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
#verified{
    height: 20px;
    width: 20px;
}
.section6_div_div p{
    color: white;
    padding: 0 2em 0 2em;
}
/* =====================================================================form  */

.formbox{
    /* border: 2px solid red; */
    width: 30%;
    border-radius: 30px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.692);
    /* text-align: center; */
    background-color: rgba(186, 185, 185, 0.9);
    position:absolute;
    /* top: 20%;
    left: 35%; */
    top: -150%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2em;
    opacity: 0;
    /* transition: top 0ms, ease-in-out 200ms; */
    /* transition: transform 0.4s, top 0.4s; */
    transition: ease-in-out;
    transition-duration: 0.5s;
    /* margin: 0 auto; */
}
.formbox.active {
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* backdrop-filter: blur(10px); */
    /* scale: 1.1; */
}
.formbox1{
    /* border: 2px solid red; */
    width: 30%;
    border-radius: 30px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.692);
    /* text-align: center; */
    background-color: rgba(186, 185, 185, 0.9);
    position:absolute;
    /* top: 20%;
    left: 35%; */
    top: -150%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2em;
    opacity: 0;
    /* transition: top 0ms, ease-in-out 200ms; */
    /* transition: transform 0.4s, top 0.4s; */
    transition: ease-in-out;
    transition-duration: 0.5s;
  
    /* margin: 0 auto; */
}
.formbox1.active {
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* scale: 1.1; */
}
.form h2{
    /* border: 2px solid green; */
    text-align: center;
}
.formelement{
    /* border: 2px solid red; */
    padding: 0.8em;
}
.formelement label{
    font-weight: 1000;
}
.formelement input{
    /* border: 2px solid red; */
    display: block;
    width: 100%;
    padding: 0.4em;
    border-radius: 10px;
    border: 2px solid black;
}
.formelement button{
    width: 30%;
    margin: 1em  auto 0 auto;
}
#closebtn, 
#closebtn1{
    /* border: 2px solid red; */
    background-color: rgba(0, 0, 0, 0.393);
    /* display: inline-block; */
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    left: 90%;
    color: white;
    font-weight: 400;
}
#closebtn:hover,
#closebtn1:hover
{
    scale: 1.2;
    transition-delay: 0.2s;
    transition-duration: 0.2s;
}

/* ==============================================section 9 */
.section9outerdiv{
/* border: 2px solid red; */
display: flex;
min-height: 300px;
justify-content: space-around;
/* justify-items: center; */
padding: 2em 2em 0 2em;
align-items: center;
z-index: -2;
width: 90%;
margin: 0 auto;

}
.ballon1{
    height: 300px;
    width: 200px;
    /* transform: rotateY(90); */
    transform: rotate(30deg);
    /* border: 2px solid red; */
    z-index: -2;
   
}
.ballon2{
    height: 300px;
    width: 200px;
    /* transform: rotateY(90); */
    transform:rotate(-30deg) scaleX(-1);
    /* transform: rotate(-30deg); */
    /* border: 2px solid red; */
    z-index: -2;
  
}
.section9_div_div{
    /* border: 2px solid red; */
    /* width: 90%; */
    /* align-self: center; */
    /* height: 100px; */
    /* justify-self: center; */
    /* justify-content: center; */
    /* margin: 0 0.5em; */
    text-align: center;
    background-image: url(./images2/Lovepik_com-401870676-golden-ink-brush.png);
    /* background-size:100%; */
    background-size: 100% 120%;
    background-repeat: no-repeat;
    /* background-position: 2px 2px 2px 2px; */
    padding: 0 0 1em 0;
}
.section9_div_div h1{
    /* border: 2px solid black; */
    padding: 2em 1em 0.2em 1em;
    width: 80%;
    margin: 0 auto;
    text-shadow: 2px 2px 3px #b2975c;
    font-family: 'Calligraffitti', cursive;
}